---
layout: info
title: Peregian Beach Digital Hub
class: index coworkers
covertitle: Co-work at the Hub
---

{% include cover_cowork.html %}

<section>
	<div class="container">
		<div class="row">
		    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					<h2>Bootstrapper Membership</h2>
					<h3>Who is this for?</h3>
					<p class="lead">
						This is a monthly co-work membership aimed at people who are bootstrapping, or working for, a technology company that is building a team in Noosa. Bootstrapper membership suits people seeking entrepreneurial support to grow their company, with the Hub team and fellow members providing mentoring, connections to investors and helping them find talent.
					</p>
					<h3>Is this for me?</h3>
					<p class="lead">
						Our aim is to build a culture of fun, creativity and collaboration at the Hub and the early members will play a critical role in setting the tone. We are therefore keen to have members who can make contributions that benefit other tenants as well as the young talent we develop through the Hub's programs.
					</p>
					<p class="lead">
						The Hub, itself, is in startup mode and as an early member you'll be part of its evolution over the next few months as we develop it into a world class environment for technology talent.
					</p>
	    </div>
		</div>
	</div>
</section>

{% include pricing_cowork.html %}

{% include faqs_cowork.html %}