<section class="bg--primary">
  <div class="container">
      <div class="row">
          <div class="col-sm-4">
              
              <!--end of pricing-->
          </div>
          <div class="col-sm-4">
              <div class="pricing pricing-1 boxed boxed--lg boxed--border boxed--emphasis bg--secondary">
                  <h3>Bootstrapper Membership</h3>
                  <span class="h2">
                      <strong>$450.00</strong>
                  </span>
                  <span class="type--fine-print">Per Month, AUD excl GST.</span>
									<span class="label bg--primary">Introductory</span>
                  <hr>
                  <ul>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Monthly membership</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>24/7 Access</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Standup Desk</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Ergonomic Chair</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Really really really fast internet</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Entrepreneurial support</span>
                    </li>
                  </ul>
                  <a class="btn btn--primary-1" href="apply.html" target="_new">
                      <span class="btn__text">
                          Apply for Membership
                      </span>
                  </a>


              </div>
							<p class="type--fine-print bg--dark">* No payment details are collected in the application process.</p>
              <!--end of pricing-->
          </div>
          <div class="col-sm-4">
              
              <!--end of pricing-->
          </div>
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
</section>