---
layout: info
title: Peregian Beach Digital Hub
class: index location
---

{% include cover_beach.html %}

<a id="tour"></a>
<section class="">
  <div class="container">
      <div class="row text-center">
          <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
              <h2>Stunning Beachside Location</h2>
              <p class="lead">
                  A vibrant village community beside a stunning surf beach. The Digital Hub is conveniently located on David Low Way, close to public transport and the business hub of Peregian Beach, and a 20 minute drive from the Sunshine Coast Airport.
              </p>
							<br><br>
          </div>
      </div>
        <div class="row text-center">
            <div class="col-sm-6 col-md-3">
                <div class="text-block">
                    <i class="icon icon--lg icon-Coffee-toGo color--primary"></i>
                    <h4>Great Coffee</h4>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="text-block">
                    <i class="icon icon--lg icon-Wave color--primary"></i>
                    <h4>Stunning Surf Beach</h4>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="text-block">
                    <i class="icon icon--lg icon-Plates color--primary"></i>
                    <h4>Top Class Restaurants</h4>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="text-block">
                    <i class="icon icon--lg icon-Plane-2 color--primary"></i>
                    <h4>20mins To Airport</h4>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

{% include peregian.html %}

{% include map_peregian.html %}